/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;
  --body-color:#efefef;
  --nav-color:#1876f2;
  --bg-color:#fff;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.dark-theme{
  --body-color: #0a0a0a;
  --nav-color:#000;
  --bg-color: #000;
}
body{
  background: var(--body-color);
  transition: background 0.3s;
}



/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
  margin-right: 10%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

.nav-user-icon {
  margin-left: 30px;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}




 /*========================= Search  =============================*/
.search_box {
  margin-right: -15%;
  margin-top: 5px;
}
.search_box .fa {
  font-size: 20px;
}


.search-box {
  right: 17.7%;
  background: #efefef;
  position: absolute;
  width: 52%;
  border-radius: 20px;
  display: none;
  align-items: center;
  padding: 10px 15px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10;
  outline: none;
  border: 0;
}

/*======================= setting-menu ===========================*/
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #0a0a0a;
}

.setting-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10 rgba(0, 0, 0,0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108% ;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}
.setting-menu-height {
  max-height: 450px;
}
.setting-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}
.setting-menu-inner {
  padding: 20px;
}
.setting-menu-inner {
  padding: 20px;
}
.setting-link {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.setting-link .setting-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting-link a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  width: 12px;
}
.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}


/*========================= Index Main Part  =============================*/


/*========================= lift-sidebar  =============================*/
.main_menu {
  margin-top: 90px;
}
.lift-sidebar {
  position: sticky;
  align-self: flex-start;
}
.imp-links a, .sortcute-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a:last-child {
  color: #1876f2;
}
.imp-links a img {
  width: 25px;
  margin-right: 15px;
}
.sortcute-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.sortcute-links p {
  margin: 15px 0;
  color: #626262;
  font-weight: 500;
}

/*========================= main-content  =============================*/
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img {
 position: absolute;
 display: flex;
 width: 45px;
 border-radius: 50%;
 top: 10px;
 left: 10px;
 border: 5px solid #1876f2; 
}
.story p {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;   
}
.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('../../img/status-1.png');
}
.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('../../img/status-2.png');
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('../../img/status-3.png');
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('../../img/status-4.png');
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('../../img/status-5.png');
}
.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.write-post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  width: 12px;
}
.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}
.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}
.add-post-link {
  display: flex;
  margin-top: 10px;
}
.add-post-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}
.add-post-link a img {
  width: 20px;
  margin-right: 10px;
}
.post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 10px;
  color: #626262;
  margin: 9px 0;
}
.post-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.post-row a {
  color: #9a9a9a;
}
.post-text {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span {
  color: #626262;
  font-size: 500;
}
.activity-icons div img {
  width: 18px;
  margin-right: 10px;
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.activity-icons {
  width: 90%;
  padding-top: 5px;
}

.activity-icons li {
  padding: 0px 5px;
  cursor: pointer;
  margin-bottom: -16px;
  border-radius: 5px;
  display: flex;
  width: 33%;
  align-items: center;
  background-color: #eaf0f9;
}
.activity-icons li:hover {
  background-color: #E4E6EB;
}
.activity-icons li span:first-child {
  height: 20px;
  width: 50px;
}
.d_flex_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d_flex_center img {
  display: flex;
  width: 20px;
  height: 20px;
}
.d_flex_center h4 {
  font-size: 18px;
  margin-left: 15px;
  text-align: center;
  margin-top: 10px;
}

/*------------ right-sidebar Start ------------------------*/
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px; 
  align-self: flex-start;
  background: var(--bg-color);
  border-radius: 4px;
  padding: 20px;
  color: #626262;
}
.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.sidebar-title a {
  text-decoration: none;
  font-size: 12px;
  color: #1876f2;
}
.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}
.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}
.left-event {
  border-radius: 10px;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}
.sidebar-add {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.online-list .online {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}  
.online-list .online img {
  width: 40px;
  border-radius: 50%;
}
.online-list .online::after {
  top: unset;
  bottom: 2px;
}
.online {
  position: relative;
}
.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db52;
  position: absolute;
  right: 0;
  top: 0;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.online-list .online {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}  
.online-list .online img {
  width: 40px;
  border-radius: 50%;
}
.online-list .online::after {
  top: unset;
  bottom: 2px;
}






/*========================= Index Main Part  =============================*/


/*========================= Profile Main Part  =============================*/
.profile_menu {
  margin-top: 20px;
}
.cover-img {
  width: 100%;
  border-bottom: 14px;
  border-radius: 6px;
}
.profile-details {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 15px;
}

.friend {
  margin-left: -10px;
}
.friend h3 {
  font-weight: 600;
  font-size: 25px;
}
.friend h3 {
  font-size: 13px;
}
.friend img {
  width: 30px;
  border-radius: 50%;
  margin-top: -20px;
}
.pd-image {
  width: 100%;
  height: 100px;
  margin-right: 20px;
  border-radius: 6px;
}
.pd-right {
  text-align: right;
}
.pd-right a {
  background: #E4E6EB;
  border-radius: 3px;
  display: inline-flexf;
  margin-top: 30px;
}
.pd-right a img {
  width: 20px;
}
.pd-right button {
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 52px;
}
.pd-right button img {
  height: 15px;
  margin-right: 10px;
}
.pd-right button:first-child {
  background: #E4E6EB;
  color: #000;
}
.profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-intro {
  background: var(--bg-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}
.profile-intro h3 {
  font-weight: 600;
}
.profile-intro hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}
.profile-intro ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.profile-intro ul li img {
  width: 26px;
  margin-right: 10px;
}
.profile-intro p {
  font-size: 14px;
}
.intro-text {
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}
.intro-text img {
  width: 15px;
  margin-bottom: -3px;
}
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box a {
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
}
.photo-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.photo-box div img {
  width: 100%;
  cursor: pointer;
}
.firnds-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.firnds-box div img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 15px;
}
.firnds-box div {
  position: relative;
}
.firnds-box p {
  position: absolute;
  left: 0;
  bottom: 0;
}






























@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .nav__logo {
    margin-left: 5%;
  }
  .search_box {
    margin-left: 55%;
    margin-top: 0px;
  }
  .search-box {
    margin-right: 5%;
    height: 32px;
    width: 55%;
    margin-top: -27px;
    padding: 4px 15px;
  }
  .main_menu {
    margin-top: 25px;
  }
  .lift-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .friend {
    margin-left: 10px;
  }
  .friend p {
    font-size: 12px;
  }
  .friend img {
    width: 18px;
    border-radius: 50%;
    margin-top: -25px;
  }
  .pd-right {
    align-items: center;
    display: flex;
    margin-right: 0px;
  }
 
  .pd-right a{
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    margin-left: 25px;
  }
  .pd-right button {
    width: 33%;
    padding: 6px 29px;
    font-size: 10px;
  }
  .pd-right button img {
    height: 12px;
    margin-left: -23px;
  }
  .activity-icons li {
    width: 30%;
  }
  .d_flex_center h4 {
    font-size: 12px;
    margin-left: 0px;
    text-align: center;
    margin-top: 5px;
  }
  .d_flex_center img {
    display: flex;
    width: 14px;
    height: 10px;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
  .search_box {
    margin-left: 50%;
    margin-top: 0px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
  .nav-user-icon .online {
    margin-left: 20px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}
